{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div id="detail-page">
        <div id="detail-body">
            <div id="top-div">
                <p id="title">{{ event.name }}</p>
                <p id="date">{{ event.event_data.date }}</p>
            </div>

            <div id="detail-image">
                <img class="card-img-top" src="{{ event.imageUrl }}" alt="">
            </div>

            <div id="description">
                <p>{{ event.description }}</p>
            </div>

            <div id="info">
                <p id="Location">Location : {{ event.location }}</p>
                <p id="hour">Jam : {{ event.event_data.hour }}</p>
                <p id="contact">Contact : {{ event.contact }}</p>
                <p id="status">Status : {{ status }}</p>
                <div id="information">
                    <p id="info-title">More Information : </p>
                    <p id="info-text">{{ event.more_information }}<p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}