{% extends 'dashboard/dash-user/base-profile.html' %}

{% block profile %}

{% if messages %}
     {% for message in messages %}
         <div class="alert alert-{{ message.tags }}">
            <a href="" class="close" data-dismiss="alert">x</a><a href=""></a>
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-secondary">Change Password</button>
</form>

{% endblock %}