{% extends 'dashboard/dash-user/base-profile.html' %}

{% block profile %}

<form method="POST">
    {% csrf_token %}
    <div class="col-12 col-md-6 mt-3">
        <label for="old-password" class="form-label">Old Password</label>
        <input type="password" id="old-password" class="form-control" placeholder="Old Password">
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="new-password" class="form-label">New Password</label>
        <input type="password" id="new-password" class="form-control" placeholder="New Password">
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password">
    </div>
    <div class="col-12 col-md-6 mt-4">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>

{% endblock %}