{% extends 'dashboard/dash-user/base-profile.html' %}

{% block profile %}

{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success mt-4">
        <a href="" class="close" data-dismiss="alert">x</a>
        {{ message }}
      </div>
  {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data" class="row gy-3 gy-xxl-4">
  {% csrf_token %}
    <div class="col-12">
        <div class="row gy-2 align-items-center">
            <div class="col-12">
                <img src="{{ user_profile.profile_picture.url }}" class="img-fluid" alt="{{ user_profile.username }}" width="120px">
            </div>
            <div class="col-12 mt-3">
                
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="first_name" class="form-label">First Name</label>
        {{ user_form.first_name }}
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="last_name" class="form-label">Last Name</label>
        {{ user_form.last_name }}
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="inputEducation" class="form-label">Education</label>
        {{ profile_form.education }}
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="inputPhone" value="+12486798745" placeholder="Enter phone number">
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="email" class="form-label">Email</label>
        {{ user_form.email }}
    </div>
    <div class="col-12 col-md-6 mt-3">
        <label for="inputAddress" class="form-label">Address</label>
        {{ profile_form.address }}
    </div>
    <div class="col-12 mt-3">
        <label for="inputAbout" class="form-label">About</label>
        {{ profile_form.bio }}
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>

{% endblock %}
