{% extends 'base/base.html' %}

{% block content %}

<style>
    #admin-dashboard-body h1 {
        text-align: center;
    }
    .row {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .row a {
        margin: 0 15px;
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    .row a.active {
        border-bottom: 2px solid black;
    }
</style>

<div class="mt-5" id="admin-dashboard-body">
    <h1>Dashboard</h1>

    <div class="row mt-5">
        <a href="{% url 'event-list' %}" id="events-link">Like Event</a>
        <a href="{% url 'event-saved' %}" id="events-saved-link">Event Saved</a>
        <a href="{% url 'profile' %}" id="profile-link">Profile</a>
    </div>

    <div>
        {% block body %}

        {% endblock %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentUrl = window.location.href;

        var links = [
            { id: 'events-link', url: "{% url 'event-list' %}" },
            { id: 'events-saved-link', url: "{% url 'event-saved' %}" },
            { id: 'profile-link', url: "{% url 'profile' %}" }
        ];

        links.forEach(function(link) {
            if (currentUrl.includes(link.url)) {
                document.getElementById(link.id).classList.add('active');
            }
        });

        document.querySelectorAll('.row a').forEach(link => {
            link.addEventListener('click', function() {
                document.querySelectorAll('.row a').forEach(link => link.classList.remove('active'));
                this.classList.add('active');
            });
        });
    });
</script>

{% endblock %}
