{% extends 'base/base.html' %}

{% block content %}

<style>
    #admin-dashbord-body h1 {
        text-align: center;
    }
    .row-admin {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .row-admin a {
        margin: 0 15px;
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    .row-admin a.active {
        border-bottom: 2px solid black;
    }
</style>

<div class="mt-5" id="admin-dashbord-body">
    <h1>Dashboard</h1>

    <div class="row mt-5 row-admin">
        <a href="{% url 'event-list' %}" id="events-link">Events</a>
        <a href="{% url 'user-list' %}" id="users-link">Users</a>
        <a href="{% url 'admin-analyze' %}" id="admin-analyze-link">Analyze</a>
        <a href="{% url 'admin-overview' request.user.id %}" id="admin-profile-link">Profile</a>
    </div>

    <div>
        {% block body %}

        {% endblock %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentUrl = window.location.href;
        var eventLink = document.getElementById('events-link');
        var userLink = document.getElementById('users-link');
        var adminAnalyzeLink = document.getElementById('admin-analyze-link')
        var adminProfileLink = document.getElementById('admin-profile-link');

        if (currentUrl.includes("{% url 'event-list' %}")) {
            eventLink.classList.add('active');
        } else if (currentUrl.includes("{% url 'user-list' %}")) {
            userLink.classList.add('active');
        } else if (currentUrl.includes("{% url 'admin-analyze' %}")) {
            adminAnalyzeLink.classList.add('active');
        } else if (currentUrl.includes("{% url 'admin-overview' request.user.id %}")) {
            adminProfileLink.classList.add('active');
        }

        document.querySelectorAll('.row-admin a').forEach(link => {
            link.addEventListener('click', function(event) {
                document.querySelectorAll('.row-admin a').forEach(link => link.classList.remove('active'));
                this.classList.add('active');
            });
        });
    });
</script>

{% endblock %}