{% extends 'base/base.html' %}

{% block content %}

<style>
    #about {
        text-align: center;
    }
</style>

<div class="mt-5" id="about">
    <h1>About</h1>

    <div class="mt-4 about-body">
        <h4>
            ComeNow is a website-based application where this application provides events information. This application has several features, including creating posts or events, liking and etc, which can be accessed when the user has registered and logged in.
        </h4>
    </div>
</div>

{% endblock %}